<div class="container" id="about-content">
  <div class="text-center">
    <i class="far fa-newspaper fa-3x"></i> 
    <h2>ABOUT SRLSY...</h2>
    <hr width="60%">
  </div>
  <p>
    Ever found yourself asking "no, SRSLY?" when you read something in the news?...
  </p>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">WE DID TOO</h1>
      <p class="lead">And now there's a way to know what your reading is "serious".</p>
    </div>
  </div>
  <p>
    SRSLY is for taking that question and actually finding out the serious truth. In the politics
    of today, knowledge is not only power, it is a shield that prevents you from being
    taken advantage of or otherwise bamboozled. 
  </p>
  <p>
    So use the homepage and provide some keywords on what you want to know about, or browse articles
    by trusted sources using the "browse by sources" page!
  </p>
  <h2 class="display-4">
    NOW LET'S GET SRS!
  </h2>
  <br>
  <a href="#">
    <i class="fas fa-chevron-left"></i> Head to the homepage!
  </a>
</div>
