<div class="container-fluid">
  <div class="row align-items-end" id="about-top">
    <div class="col">
      <div class="text-center">
        <i class="far fa-newspaper fa-3x shadowed"></i> 
        <h1 class="outline shadowed">
          <b>Getting the truth. SRSLY.</b>
        </h1>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="container" id="about-content">
  <p>
    Ever found yourself asking "no, SRSLY?" when you read something in the news?...
  </p>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">YOU'RE NOT ALONE</h1>
      <p class="lead">
        A lot of news today has a bias. And it's sometimes tough to tell.
        Now there's a way to know what your reading is "serious".
      </p>
    </div>
  </div>
  <p>
    SRSLY is for taking that question and actually finding out the serious truth. In the politics
    of today, knowledge is not only power, it is a shield that prevents you from being
    taken advantage of or otherwise bamboozled. 
  </p>
  <p>
    So use the homepage and provide some keywords on what you want to know about, or browse articles
    by trusted sources using the "browse by sources" page!
  </p>
  <h2 class="display-4">
    NOW LET'S GET SRS!
  </h2>
  <br>
  <a routerLink="home">
    <i class="fas fa-chevron-left"></i> Head to the homepage!
  </a>
</div>
