<nav class="navbar navbar-expand-lg" id="homenav">
    <a class="navbar-brand" href="#" id="navbrand">
        <i class="far fa-newspaper fa-2x"></i> 
    </a>
    <a href="#"><span class="align-top" style="color:ivory">SRSLY</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="sources" style="padding-right:15px;">
                <i class="fab fa-osi"></i>
                Browse By Source 
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about"><i class="far fa-question-circle"></i> About</a>
        </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
    <p class="mb-0">
        <i class="far fa-copyright"></i> 2018 SRSLY | 
        "Real knowledge is to know the extent of one's ignorance." - Confucius
    </p>
</footer>

