.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    padding: 1rem;
    height: 60px;
    margin-top: calc(51vh - 60px);
    margin-bottom: 0;
    background-color: #73098dfd;
    color: ivory;
} 
