<div class="container-fluid">
  <div class="row align-items-end" id="source-upper">
    <div class="col">
      <div class="text-center">
        <h1 class="outline shadowed">
          <b>
            Where the srsness comes from
          </b>
        </h1>
        <br><br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="text-center" *ngIf="initSpinner">
    <i class="fas fa-circle-notch fa-spin fa-5x text-center"></i>
  </div>

  <div class="row justify-content-start">
    <div class="col-4">
      <div class="list-group list-group-flush">
          <a href="javascript:void(0)" class="list-group-item list-group-item-action" [ngClass]="{'active' : source?.id === currTab}" (click)="setCurrTab(source?.id); showSource(source?.id)" *ngFor="let source of sources">
            {{ source?.name }}
          </a>
        </div>
    </div>

    <div class="col-7">
      <div class="text-center" *ngIf="showSpinner">
        <i class="fas fa-circle-notch fa-spin fa-5x text-center"></i>
      </div>
      <ul class="list-unstyled" *ngIf="!showSpinner">
        <div class="card" *ngFor="let s of currSource?.articles">
          <div class="card-body">
            <li class="media">
              <img *ngIf="s?.top_img != null" class="mr-3" src="{{ s?.top_img }}" alt="Generic image" height="72" width="72">
              <img *ngIf="s?.top_img === null" class="mr-3" src="../../assets/images/newspaper-def.jpg" alt="Replaced image" height="72" width="72">

              <div class="media-body">
                <h5 class="mt-0 mb-1">
                  <a href="{{ s?.url }}" target="_blank">
                    {{ s?.title }}
                  </a> 
                </h5>
                {{ s?.summary }}
                <small id="passwordHelpBlock" class="form-text text-muted">
                  {{ s?.pub_date | date }}
                </small>
              </div>

            </li>
          </div>
        </div>
        <span *ngIf="currSource?.articles.length === 0">
          Nothing yet! Check back later
        </span>
      </ul>
    </div>

  </div>
</div>

