/* You can add global styles to this file, and also import other style files */
#upper-portion {
    height: 50vh;
    min-height: 50vh;
    /* background-color:#20c997; */
    background-color:#73098dfd;
    color: ivory;
    font-weight: 800;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.navbar {
    /* background-color: #73098dfd; */
    background-color: #600477fd;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.navbar-brand {
    color: ivory;
}

.navbar-nav a:hover {
    color:rgb(232, 255, 248);
}

.nav-item a{
    color: ivory;
}

#navbrand a {
    color: ivory;
}

.shadowed {
    color: ivory;
    text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

.outline {
	text-shadow:
		-1px -1px 0 rgb(0, 0, 0),
		1px -1px 0 rgb(0, 0, 0),
		-1px 1px 0 rgb(0, 0, 0),
		1px 1px 0 rgb(0, 0, 0);
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.009, 1.009);
}

/*
--------------------------
SOCIAL MEDIA BUTTONS/ICONS
--------------------------
*/

.fa-facebook {
    /* background: #3B5998; */
    color: #3B5998;
}

.fa-twitter-square {
    /* background: #55ACEE; */
    color: #55ACEE;
}

.fa-envelope-square {
    color: rgb(109, 109, 109);
}

.fa-link {
    color: #bc10e7fd;
    height: 30px;
}

.social-btns {
    display: none;
}

.card:hover .social-btns {
    display: block;
}
