<div class="container-fluid" id="upper-portion">
  <div class="row align-items-end">
    <div class="col">
      <div class="text-center">
        <!-- <img src="../../assets/images/brain.jpg" height="100" width="100"> -->
        <h1 class="display-3">
            No, Srsly...
        </h1>
        <br><br>
        <form #k="ngForm" name="keyword-form" (ngSubmit)="toggleSpinner();getArticlesFromKeywords(k)">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <input type="text" name="keywords" id="keywords" class="form-control" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Keywords (e.g: Trump, Midterms, FBI)" required ngModel>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="main-results">

  <div class="container">
    <div class="text-center" *ngIf="results.length === 0 && !searched">
      <i class="fas fa-arrow-up"></i>
      <b class="home-tip">ENTER SOME KEYWORDS AND GET SRS!</b>
    </div>

    <div class="text-center" *ngIf="results.length === 0 && searched && !showSpinner">
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-circle"></i>
        <b class="home-tip">No results were found. Try some new keywords!</b>
      </div>
    </div>

    <div class="text-center" *ngIf="showSpinner">
      <i class="fas fa-circle-notch fa-spin fa-5x text-center"></i>
      <br><br>
      FETCHING SOME SERIOUSNESS
    </div>
    
    <ul class="list-unstyled">
      <li class="media" *ngFor="let article of results" id="keyword-result">
        <img *ngIf="article?.top_img != null" class="mr-3" src="{{ article?.top_img }}" alt="Image" height="72" width="72">
        <img *ngIf="article?.top_img === null" class="mr-3" src="../../assets/images/newspaper-def.jpg" alt="Replaced image" height="72" width="72">

        <div class="media-body">
          <h5 class="mt-0 mb-1">
            <a href="{{ article?.url }}" target="_blank">
              {{ article?.title }}
            </a>
          </h5>
          {{ article?.summary }}
          <small id="passwordHelpBlock" class="form-text text-muted">
            {{ article?.pub_date | date }}
          </small>
        </div>
      </li>
    </ul>
  </div>

</div>
