<div class="container-fluid" id="upper-portion">
  <div class="row align-items-end">
    <div class="col">
      <div class="text-center">
        <h1 class="display-3 shadowed">
            <b>
                No Srsly...
            </b>
        </h1>
        <br><br>
        <form #k="ngForm" name="keyword-form" (ngSubmit)="toggleSpinner();getArticlesFromKeywords(k)">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <input type="text" name="keywords" id="keywords" class="form-control" aria-describedby="inputGroup-sizing-sm" placeholder="Enter Keywords (e.g: Trump, Midterms, FBI)" autofocus required ngModel>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="main-results">

  <div class="container">
    <div class="text-center" *ngIf="results.length === 0 && !searched">
      <i class="fas fa-arrow-up"></i>
      <b class="home-tip">ENTER SOME KEYWORDS AND GET SRS!</b>
    </div>

    <div class="text-center" *ngIf="results.length === 0 && searched && !showSpinner">
      <div class="alert alert-warning" role="alert">
        <i class="fas fa-exclamation-circle"></i>
        <b class="home-tip">No results were found. Try some new keywords!</b>
      </div>
    </div>

    <div class="text-center" *ngIf="showSpinner">
      <i class="fas fa-circle-notch fa-spin fa-5x text-center"></i>
      <br><br>
      FETCHING SOME SERIOUSNESS
    </div>
    
    <ul class="list-unstyled" *ngIf="!showSpinner">
      <div class="card" *ngFor="let article of results" >
        <div class="card-body">
          <li class="media" id="keyword-result">
            <img *ngIf="article?.top_img != null" class="mr-3" src="{{ article?.top_img }}" alt="Image" height="72" width="72">
            <img *ngIf="article?.top_img === null" class="mr-3" src="../../assets/images/newspaper-def.jpg" alt="Replaced image" height="72" width="72">

            <div class="media-body">
              <h5 class="mt-0 mb-1">
                <a href="{{ article?.url }}" target="_blank">
                  {{ article?.title }}
                </a>
              </h5>
              {{ article?.summary }}

              <div class="d-flex justify-content-between">
                <small id="passwordHelpBlock" class="form-text text-muted">
                  {{ article?.pub_date | date }}
                </small>

                <div *ngIf="copiedId === article?.id">
                  <span style="color:green">
                    <i class="fas fa-check"></i>
                     Link Copied!
                  </span>
                </div>

                <div class="social-btns">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{article?.url}}&amp;src=sdkpreparse" target="_blank">
                    <i class="fab fa-facebook fa-2x"></i>
                  </a>
                  <a href="https://twitter.com/intent/tweet?text=Great article! SRSLY! {{article?.url}}" class="twitter-share-button" target="_blank">
                    <i class="fab fa-twitter-square fa-2x"></i>
                  </a>
                  <a href="mailto:?subject=I wanted you to see this&amp;body=Check out this article! {{ article?.url }}">
                    <i class="fas fa-envelope-square fa-2x"></i>
                  </a>
                  <a href="javascript:void(0)" ngxClipboard [cbContent]="article?.url" (cbOnSuccess)="linkCopied(article?.id)">
                    <i class="fas fa-link fa-2x"></i>
                  </a>
                </div>
              </div>

            </div>

          </li>
        </div>
      </div>
    </ul>
    
  </div>

</div>

<!-- TWITTER'S LOADING SNIPPET TO LOAD ITS SH*T -->
<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
  
    return t;
  }(document, "script", "twitter-wjs"));
</script>